:root { 
--gray_600:#787070; 
--gray_700:#8b4d4d; 
--gray_400:#b3aeae; 
--gray_400_01:#bfaeae; 
--gray_900:#3a0202; 
--red_300:#cc8989; 
--black_900_3f:#0000003f; 
--white_A700:#ffffff; 
--gray_700_01:#8c5656; 
}